.inputComponent {
  background-color: rgb(65, 65, 80);
  color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputComponentForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
textarea {
    height: 400px;
    min-width: 300px;
    overflow: scroll;
    border: none;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.05em;
    color: #f0f0f0;
    background-color: rgb(120, 120, 145);
}

.inputTitle {
  font-weight: 600;
  font-size: 1.4em;
  margin-top: 10px;
  margin-bottom: 5px;
  align-self: flex-start;
}
.inputHeading {
  margin-bottom: 7px;
  font-size: 1.15em;
  align-self: flex-start; 
}
.inputRadioWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
