* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #00B32C;
    color: white;
    border: none;
    font-size: 1.2em;
    padding: 6px 11px;
    border-radius: 3px;
    margin: 5px;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 5px;
}